<!--<div id = 'head'>-->
<!--  <h2>Лабораторная работа №4</h2>-->
<!--  <h3>По дисциплине "Веб-программирование"<br>-->
<!--  Студент:Почикалин В.О <br>-->
<!--  Преподаватель: Яркеев А.С<br>-->
<!--  Вариант:14287-->
<!--  </h3>-->
<!--</div>-->
<div class="div_forms">
  <p-accordion>
    <p-accordionTab header="Шапка">
      <h2>Лабораторная работа №4</h2>
      <h3>По дисциплине "Веб-программирование"<br>
        Студент:Почикалин В.О <br>
        Преподаватель: Яркеев А.С<br>
        Вариант:14287
      </h3>
    </p-accordionTab>
  </p-accordion>
</div>
