
/*@import '~primeicons/primeicons.css';*/
/*@import '~primeng/resources/themes/nova-dark/theme.css';*/
/*@import '~primeng/resources/primeng.min.css';*/
/*@import "~primeflex/primeflex.css";*/
body {
  margin-top: 0;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  /*background: url("https://i.pinimg.com/originals/7d/de/e0/7ddee0a1c68655fa464765643a408587.jpg");*/
  background: silver;
}

